/* 
    Root stylesheet for all pages to use.
    Contains CSS rules for the navigtion bar and body of the page.

    NOTE: Add CSS for any repeating elements in all pages here, eg the nav bar, header, footer, etc...
*/

/* Contant variables and color themes. */
:root {
    /* Primary color */
    --background-color: #fffbf0;
    /* Secondary color */
    --secondary-color: #000;
    /* Backgrounf color */
    --primary-color: #26a69a;
}

/* Set global font family and margins */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Navigation bar CSS */
#myNav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transition: background-color 0.4 ease-in-out;
}

#myNav a {
    /* this is grey */
    color: var(--background-color);

    line-height: 3em;
    padding: 0 1.25em;
    border: 0;
    /* box-shadow: inset 0 0 0 1px transparent; */
    text-decoration: none;
    position: relative;

    transition: 0.4s ease-in-out;
}

#myNav a:hover {
    color: var(--secondary-color);
    background-color: var(--background-color);
}

#myNav.scrolled a {
    color: var(--secondary-color);
}

#myNav.scrolled a:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
}

#myNav a.account {
    position: absolute;
    right: 0;
}

/* ==================================== */