/* Navigation bar CSS */
#myNav {
    width: 100%;

    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transition: background-color 0.4 ease-in-out;
}

#myNav .home {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

#myNav .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myNav .account {
    flex: 1;
    height: 3em;
    display: flex;
    justify-content: end;
    align-items: center;
}

#myNav a {
    /* this is grey */
    color: var(--background-color);

    font-size: 1.15em;

    line-height: 3em;
    padding: 0 1.25em;
    border: 0;
    text-decoration: none;
    position: relative;

    transition: all 0.4s ease-in-out;
}

#myNav a:hover {
    color: var(--secondary-color);
    background-color: var(--background-color);
}

#myNav.scrolled a {
    color: var(--secondary-color);
}

#myNav.scrolled a:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
}

#myNav .account-button {
    padding: 0 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#myNav .account-button img {
    height: 75%;
}

#myNav .account-button #account-box {
    position: absolute;
    top: 100%;
    right: 10px;
    width: 20vw;
    padding: 1em;

    background-color: color-mix(in srgb, var(--secondary-color), transparent 25%);;
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

#account-box input {
    margin: 1em 0;
    height: 7%;
    width: 100%;
}

#account-box button {
    width: 100%;
    height: 7%;
}

#account-box.hidden {
    display: none;
}