body {
    background: var(--background-color);
    height: auto;
}

.blogTitle {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogTitle #titleBackground {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("../../assets/blogsPage/blog_title_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
}

#titleBackgroundFade {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--primary-color);
    mask-image: linear-gradient(#ffffff00, #ffffffff);
}

#blogTitle {
    color: var(--background-color);
    font-size: 125px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#catchphrase {
    color: var(--background-color);
    font-size: 37px;
    font-style: normal;
    font-weight: 200;
    line-height: 0;
}

#blogList {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#blogList .blogCard {
    width: 70vw;
    height: 25vh;
    margin: 48px 24px;

    /* border: 4px solid var(--secondary-color); */
    border-radius: 16px;
    overflow: hidden;

    background-color: color-mix(in srgb, var(--background-color) 50%, transparent);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);

    padding: 1em;

    transition: all 0.35s ease-in-out;

    color: var(--secondary-color);
    text-decoration: none;
}

#blogList .blogCard:hover {
    scale: 1.02;
}

#blogList .blogCard h3 {
    font-size: 2.5em;
}

#blogList .blogCard p {
    color: color-mix(in srgb, var(--secondary-color) 50%, transparent);
    padding: 0.2em;
}

#blogList .blogCard pre {
    font-size: 1.1em;
}