/* CSS for the landing page. */

body {
  background: #26a69aff;
  height: auto;
}


#tulia {
  color: #fffbf0;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
}

#catchphrase {
  color: #000;
  font-size: 37px;
  font-style: normal;
  font-weight: 200;
  line-height: 0;
  /* text-transform: uppercase; */
}

.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}